<app-header [title]="'Profil'" [showBackButton]="true"></app-header>

<ion-content [fullscreen]="true" class="profil__info-content" *ngIf="user != undefined">
  <!-- PERSONAL INFORMATION -->
  <h1>{{ "PROFIL_SETTINGS.FIRST_TITLE" | translate }}</h1>
  <ion-card>
    <ion-item>
      <ion-input [label]="'PROFIL_SETTINGS.LABEL_FIRSTNAME' | translate" [value]="user.firstname"
        [errorText]="'PROFIL_SETTINGS.INVALID_FIRSTNAME' | translate" [readonly]="!isEditMode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [label]="'PROFIL_SETTINGS.LABEL_LASTNAME' | translate" [value]="user.lastname"
        [errorText]="'PROFIL_SETTINGS.INVALID_LASTNAME' | translate" [readonly]="!isEditMode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [label]="'PROFIL_SETTINGS.LABEL_DATE' | translate" [value]="user.birthdate" [readonly]="!isEditMode"></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-input [label]="'PROFIL_SETTINGS.LABEL_PHONE' | translate" type="number" [value]="user.phone" [readonly]="!isEditMode"
        [errorText]="'PROFIL_SETTINGS.INVALID_PHONE' | translate"></ion-input>
    </ion-item> -->

    <ion-button color="warning" (click)="toggleEditMode()">
      {{ "PROFIL_SETTINGS.EDIT" | translate }}
    </ion-button>

  </ion-card>
  <!-- ------------------------------------------------- -->

  <!-- ACCOUNT SETTINGS  -->
  <h1>{{ "PROFIL_SETTINGS.SECOND_TITLE" | translate }}</h1>
  <ion-card>
    <ion-item>
      <ion-input [label]="'PROFIL_SETTINGS.LABEL_PASSWORD' | translate" type="password" value="password"
        [errorText]="'PROFIL_SETTINGS.INVALID_PASSWORD' | translate"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [label]="'PROFIL_SETTINGS.LABEL_EMAIL' | translate" type="email" placeholder="Lameraboir@detergent.com"
        [errorText]="'PROFIL_SETTINGS.INVALID_EMAIL' | translate"></ion-input>
    </ion-item>
    <ion-item>
      <!-- Systeme allow notification to do -->
      <ion-toggle>
        <ion-label>{{ "PROFIL_SETTINGS.LABEL_NOTIF" | translate }}</ion-label>
        <ion-note color="medium">{{ "PROFIL_SETTINGS.LABEL_NOTE_NOTIF" | translate }}</ion-note>
      </ion-toggle>
    </ion-item>
    <!-- Systeme Validation 2 factor to do -->
    <ion-item button detail="true">
      <ion-label>
        <h3>{{ "PROFIL_SETTINGS.THIRD_TITLE" | translate }}</h3>
        <p>{{ "PROFIL_SETTINGS.LABEL_REDIRECT" | translate }}</p>
      </ion-label>
      <div *ngIf="factorVerify; then thenFactor else elseFactor "></div>
      <ng-template #thenFactor><img src="../../../assets/icon/tabs/check.svg" alt=""> </ng-template>
      <ng-template #elseFactor><img src="../../../assets/icon/tabs/cross.svg" alt=""></ng-template>
    </ion-item>
  </ion-card>
  <!-- -------------------------------- -->
  <ion-card>
    <ion-item button detail="true">
      <ion-label>
        <h3>{{ "PROFIL_SETTINGS.FOURTH_TITLE" | translate }}</h3>
        <p>{{ "PROFIL_SETTINGS.WARNING_DELETE" | translate }}</p>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>