<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header__container">
      <div class="header__icon__container">
        <ion-buttons *ngIf="showBackButton" slot="start">
          <ion-back-button defaultHref="/" text=""></ion-back-button>
        </ion-buttons>
      </div>
      <div class="header__title__container">
        <ion-title class="header__title">{{ title }}</ion-title>
      </div>
    </div>
    <ion-buttons slot="end">
      <app-language-picker></app-language-picker>
    </ion-buttons>
  </ion-toolbar>
</ion-header>