<app-header [title]="'COMMUNITY_PAGE.TITLE' | translate" [showBackButton]="true"></app-header>
<ion-content [fullscreen]="true">
    <ion-button shape="round" color="warning" (click)="presentModal()">
        {{ 'COMMUNITY_PAGE.ADD_COMMUNITY' | translate }}
    </ion-button>
    <app-sliding *ngFor="let community of communities;" (clickRequest)="onClickCommunity(community)"
        (deleteRequest)="onDeleteCommunity(community)" [iconPath]="'assets/icon/community-icon.svg'"
        [name]="community.name" [detail]="'COMMUNITY_PAGE.DETAIL' | translate:{count: community.members.length}">
    </app-sliding>