.header-sign-up {
  &__container {
    display: flex;

    .header-sign-up__icon__container {
      margin-left: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    ion-back-button {
      font-size: 1.5em;
      color: white;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1em;
    img {
      height: 40px;
    }
  }
}

.sign-up-container {
  &__sign-up-title {
    text-align: center;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 32px;
  }

  .invalid {
    --highlight-background: #ffeeee;
    --highlight-border: #ff5555;
  }

  .error-message {
    color: #ff5555;
    font-size: 12px;
    margin-top: 4px;
  }

  &__or-sign-up-with {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
  }

  &__social-logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;

    ion-col {
      flex-grow: unset;
    }
  }

  &__form-item {
    margin-top: 10px;
  }

  &__sign-up-button {
    margin-top: 20px;
  }

  .social-logo {
    width: 86px;
    height: 42px;
    // background-color: #f4f4f4;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__have-account {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
  }

  .sign-up-link {
    cursor: pointer;
  }

  .form-checkbox {
    display: flex;
    align-items: center;
    margin-top: 1em;
    gap: 0.5em;
    ion-label > ion-text {
      cursor: pointer;
    }
  }
}

ion-modal {
  --width: 320px;
  --height: 525px;
  --border-radius: 8px;
}

ion-modal ion-datetime {
  height: auto;
}
