<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="search" href="/tabs/search">
      <ion-icon aria-hidden="true" src="assets/icon/tabs/search.svg"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="community" href="/tabs/community-tab">
      <ion-icon aria-hidden="true" src="assets/icon/tabs/storage.svg"></ion-icon>
      <ion-label>Community</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu" href="/tabs/menu-tab">
      <ion-icon aria-hidden="true" src="assets/icon/tabs/menu.svg"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>