<ion-tabs class="tabs-page" id="main-content">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="search" href="/tabs/search">
      <ion-icon aria-hidden="true" src="assets/icon/tabs/search.svg"></ion-icon>
      <ion-label>{{"TABS.TABS_1_TITLE" | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="community" href="/tabs/community-tab">
      <ion-icon aria-hidden="true" src="assets/icon/tabs/people.svg"></ion-icon>
      <ion-label>{{"TABS.TABS_2_TITLE" | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="openMenu()">
      <ion-icon aria-hidden="true" src="assets/icon/tabs/menu.svg"></ion-icon>
      <ion-label>{{"TABS.TABS_MENU_TITLE" | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-menu
  side="end"
  [type]="menuType"
  menuId="menu-tab"
  contentId="main-content"
  class="tabs-menu-content"
>
  <ion-header>
    <ion-toolbar>
      <ion-title>{{"TABS.TABS_MENU_TITLE" | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-menu-toggle>
      <ion-list [inset]="true" class="tabs__tab-menu-list">
        <!-- Storage Option -->
        <!-- <ion-button (click)="navigateTo('storage')">
          <ion-icon name="cart" slot="start"></ion-icon>
          <ion-label>Storage</ion-label>
        </ion-button> -->
        
        <!-- Profile Option -->
        <ion-button (click)="navigateTo('profil')">
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>{{"TABS.TABS_MENU_PROFILE" | translate}}</ion-label>
        </ion-button>

        <!-- Favorites Option -->
        <ion-button (click)="navigateTo('favorites')">
          <ion-icon name="heart" slot="start"></ion-icon>
          <ion-label>{{"TABS.TABS_MENU_FAVORITES" | translate}}</ion-label>
        </ion-button>

        <ion-button (click)="logout()">
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>{{"TABS.TABS_MENU_LOGOUT" | translate}}</ion-label>
        </ion-button>
      </ion-list>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>
