<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="search" href="/tabs/search">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="storage" href="/tabs/storage">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Storage</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu" href="/tabs/menu-tab">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>