<app-header [title]="'Storage'" [showBackButton]="true"></app-header>

<ion-content [fullscreen]="true" class="storage">
  <ion-buttons class="storage__buttons">
    <ion-button shape="round" fill="solid" color="warning" (click)="presentModal()" class="storage__add-storage">
      {{"STORAGE_PAGE.ADD_STORAGE" | translate}}
    </ion-button>
    
    <ion-button shape="round" fill="solid" color="warning" (click)="presentModalAddUser()">
      {{"STORAGE_PAGE.ADD_USER" | translate}}
    </ion-button>
  </ion-buttons>

  <app-sliding
    *ngFor="let storage of storages"
    (clickRequest)="onClickStorage(storage)"
    (deleteRequest)="onDeleteStorage(storage)"
    (editRequest)="presentEditModal(storage)"
    [iconPath]="'assets/icon/storage-icon/' + storage.icon"
    [name]="storage.label"
    [detail]="('STORAGE_PAGE.DETAIL_NUMBER_PRODUCTS' | translate) + ' ' + storage.detailCount"
    >
  </app-sliding>
</ion-content>
