<app-header [title]="'Storage'" [showBackButton]="true"></app-header>

<ion-content [fullscreen]="true">

  <ion-button shape="round" color="warning" (click)="presentModal()">
    {{"STORAGE_PAGE.ADD_STORAGE" | translate}}
  </ion-button>

  <ion-button shape="round" color="warning" (click)="presentModalAddUser()">
    {{"STORAGE_PAGE.ADD_USER" | translate}}
  </ion-button>

  <app-sliding *ngFor="let storage of storages;" 
  (clickRequest)="onClickStorage(storage)"
  (deleteRequest)="onDeleteStorage(storage)"
  (editRequest)="presentEditModal()"
  [iconPath]="'assets/icon/storage-icon/'+this.storage.icon"
  [name]="storage.name"
  [detail]="'Number of product xxx'"
  >
  </app-sliding>
</ion-content>
