/* Add your own color variables or use default Ionic variables */
:root {
  --ion-color-primary: #ffce00;
  --ion-color-medium: #9586a8;
  --ion-color-light: #f4f4f4;
  --ion-color-chatbox: #2C41FB;
}

.research-container {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.research-item {
  margin: 2em 0;
}

.research-view-content {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.research-view-paragraph {
  padding: 15px;
  color: var(--ion-color-medium);
}

.separator {
  width: 80%;
  border-top: 1px solid var(--ion-color-medium);
  margin: 2em 0;
}

.button-class {
  width: 80%;
  --padding-top: 1em;
  --padding-bottom: 1em;
}

.console-output {
  padding: 1em;
  background-color: var(--ion-color-light);
  border-radius: 8px;
  margin: 1em;
  font-family: "Courier New", monospace;
}

// ### Button SCAN ###
.search__bot-container {
  position: fixed;
  bottom: 1%;
  right: 4%;
}

.bot-content--img {
  width: 80%;
}

hr.solid {
  border-top: 2px solid #bbb;
  padding: 0;
  margin: 0;
}

// ------------------

// #### MODAL BOT ####

#message__bot-modal {
  text-align: center;
  color: #9586a8;
}

.message__chatbox-content {
  margin: 0;
  padding: 0;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.message__chatbox-footer-outcoming {
  margin-top: 15px;
  margin-right: 20%;
  font-size: 100%;
  text-align: center;
  color: black;
  background-color: #f4f4f4;
  border: 2px solid black;
  border-radius: 15px;
}

.message__chatbox-footer-incoming {
  margin-top: 15px;
  margin-left: 20%;
  font-size: 100%;
  text-align: center;
  color: #f4f4f4;
  background-color: #2C41FB;
  border: 2px solid black;
  border-radius: 15px;
}

.message__bot-img {
  padding: 5px;
  margin: 5px;
  position: fixed;
  left: 1%;
  width: 8%;
  min-width: 38px;
}

.message__bot-send
{
  border: 1px black solid;
  background-color: #ffce00;
  width: 10%;
}

.message__bot-send:hover
{
  scale: 1.05;
  transition: all;
  transition-duration: 600ms;
}


//-----------------

// Media query to adapt the display of certain phones
@media (100px <=width <=413px) {
  .research-view-content {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
  }

  .research-view-paragraph {
    margin-top: 2%;
  }
}