<app-header [title]="'Research'"></app-header>

<ion-content [fullscreen]="true" class="ion-padding research-div-container">
  <div class="research-view-content research-item">
    <p class="research-view-paragraph research-item">
      {{"SEARCH_TAB.INPUT_PARAGRAPH" | translate}}.
    </p>
    <ion-searchbar
      (ionChange)="searchProduct($event)"
      placeholder="{{'SEARCH_TAB.PLACEHOLDER' | translate}}"
    ></ion-searchbar>
    <div class="separator"></div>
    <p class="research-view-paragraph research-item">
      {{"SEARCH_TAB.SCAN_PARAGRAPH" | translate}}.
    </p>
    <ion-button
      expand="block"
      color="warning"
      class="button-class research-item"
      (click)="scan()"
      >{{"SEARCH_TAB.SCAN_BUTTON" | translate | uppercase}}</ion-button>
  </div>
</ion-content>
