.sliding__item {


    .sliding__container {
        width: 90%;
        display: flex;
        justify-content: space-around;
        text-align: center;
    }

    .sliding__container__icon {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: auto;
            max-width: 44vw;
            min-height: 100px;
            max-height: 10em;
        }
    }


}