.sliding-item ion-item{
    --min-height: 160px;
}

.sliding-container{
    width: 90%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.sliding-container-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}